.casilla{
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    float: left;
}
.fantasma{
    background-color: rgb(0, 0, 0);
    background-image: url("./img/Ghost.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.jugador{
    background-color: rgb(0, 0, 0);
    background-image: url("./img/Pac-Man.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.muro{
    background-color: rgb(0, 0, 0);
    background-image: url("./img/Wall.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.libre{
    background-color: rgb(0, 0, 0);
}
.meta{
    background-color: rgb(0, 0, 0);
    background-image: url("./img/Exit.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.inicio{
    background-color: rgb(0, 0, 0);
    background-image: url("./img/Enter.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.limpia {
    clear: left;
}